///////////////////////////////////////////////////////////////////
// _base.scss
///////////////////////////////////////////////////////////////////

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


//////////////////////
// HEADER
//////////////////////

header {
    width: 100%;
    position: relative;
    z-index: 10;
}

#nav-toggle {
    background: image-url("navicon.png") no-repeat center;
    background-size: contain;
    width: 90%;
    height: 10%;
    display: block;
    @include image-replacement;
    margin: 2% 5%;
}

a.select-group {

}
a.instruction {

}

#main-nav {
    width: 100%;
}

.menu {
    li {
        a {
            display: block;
            width: 100%;
            cursor: pointer;
            padding: 0.5rem 0;
            border-bottom: 1px #EEE solid;
            margin: 0;
        }
    }
}

.admin {
    background: image-url("settings.png") no-repeat center left, image-url("settings.png") no-repeat center right, $white;
}

.shuffle {
    background: image-url("shuffle.png") no-repeat center left, image-url("shuffle.png") no-repeat center right, $white;
}

.instructions {
    background: image-url("instructions.gif") no-repeat center left, image-url("instructions.gif") no-repeat center right, $white;
}

/*! responsive-nav.js v1.0.20 by @viljamis */

#main-nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}

#main-nav li {
    width: 100%;
    display: block;
}

.js #main-nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

#main-nav.opened {
    max-height: 9999px;
}

.flex-control-nav {
    bottom: -5%;
}

//@media screen and (min-width: 40em) {
//    .js #main-nav {
//        position: relative;
//    }
//    .js #main-nav.closed {
//        max-height: none;
//    }
//    #nav-toggle {
//        display: none;
//    }
//}

//////////////////////
// FLEXSLIDER
//////////////////////

.flex-container {
}

// stretch
.flexslider,
.flex-viewport,
.slides,
.slides li,
.table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slides > li {
    background-color: $white;
}


.table {
    display: table;
}

.card.welcome .table-cell {
    font-size: $BASE-FONT-SIZE;
}

.table-cell {
    font-size: 7rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    // this is causing some css-oddities on the 1st slide...
    //height: 90%;
    //width: 90%;
    //padding: 5%;
}


////////////////////////
// ADMIN MENU
//////////////////////

#admin-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9001; // OVER 9000
    margin: 2% 0 0 2%; // marginal margins. lolz.
}

// #todo - this is soaking get. needs drying.
.login_button {
    @include image-replacement;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background: transparent image-url("login_icon.png") no-repeat center;
    margin-right: 10px;

}

.add_new_card_button {
    @include image-replacement;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background: transparent image-url("add_card_icon.png") no-repeat center;
    margin-right: 10px;
}

.add_new_group_button {
    @include image-replacement;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background: transparent image-url("add_group_icon.png") no-repeat center;
    margin-right: 10px;
}

form#add_new_card {
    display: none;
    background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    padding: 27px;
    width: 350px;
    z-index: 999;
    left: 3%;
    border: 3px solid black;
    border-radius: 10px;

    li {
        margin-bottom: 10px;
    }

    label {
        width: 101px;
        display: inline-block;
    }
}


////////////////////////
// LOGIN FORM
//////////////////////

#login {
    li {
        margin-bottom: 10px;
    }

    label {
        width: 50px;
        display: inline-block;
    }
}

form#login{
    display: none;
    background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    padding: 27px;
    width: 350px;
    z-index: 999;
    left: 3%;
    border: 3px solid black;
    border-radius: 10px;
}

form#login p.status{
    display: none;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}

.lost {
    display: block;
    float: left;
    color: blue;
    width: 220px;

    :visited {
        color: blue;
    }
}

.close {
    float: right;
}




////////////////////////
// BLACKBOX DEBUG BAR
//////////////////////

#blackbox-web-debug { display: none; }

